GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
APP_BASE_URL=http://localhost:your-backend-port
DB_URL=jdbc:postgresql://localhost:your-db-port/your-db-name
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password
SECRET_KEY=your-random-secret-key
EXPIRATION=your-expiration-time-in-ms