@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
  }

/* Hide scrollbars while maintaining scroll functionality */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Webkit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
    display: none;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
